body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background: #e0e0e0;
  }
  
  input, button {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  
  li {
    font-size: 18px;
    margin: 5px 0;
  }
  
  #amigoSecreto {
    font-size: 20px;
    color: #d35400;
  }
  